<!DOCTYPE html>
<html>
  <head>
    <title>"S&R Recipes"</title>
  <style>
    .Padding_1 {
      padding-top: 50px;
      padding-bottom: 100px;
    }
    .Padding_2 {
      padding-top: 15px;
      padding-bottom: 35px;
    }
    .Padding_3 {
      padding-bottom: 250px;
    }

    .font_1 {
        font-family: 'Lobster', cursive;
      }
  </style>
  </head>
  <body>
    <div class="container">
      <div class="Padding_2">
        <div class="row">
          <h1 class="font_1"><p class="text-center"><em>What's in your fridge today?</em></p></h1>
        </div>
      </div>
      <div class="row">
        <div id="carousel-example-generic" class="carousel slide" style="width: 400px; margin: 0 auto" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="/assets/burger_small.jpg" alt="Burger" width="400px">
              <div class="carousel-caption">
              </div>
            </div>
            <div class="item">
              <img src="/assets/soft_taco.jpg" alt="Soft Taco" width="400px">
              <div class="carousel-caption">
              </div>
            </div>
            <div class="item">
              <img src="/assets/chicken.jpg" alt="Chicken" width="400px">
              <div class="carousel-caption">
              </div>
            </div>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>

      <div class="Padding_1">
      <form action="/recipes/a/search" class ="form-horizontal">
        <div class ="row">
          <input class="form-control input-lg" name="ingredients" id="Input" type="text" placeholder="Enter ingredients: e.g., chicken apple">
        </div>
      </div>

      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="bootstrap.js"></script>
  </body>
</html>
