<div class="page-header">
  <h1>
    Recipes
    <a href="/recipes/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
  </h1>
</div>

<!-- Simple table layout example -->

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Recipe Name</th>
          <th>Cusine Type</th>
          <th>Time to Prepare</th>
          <th>Time to Cook</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @recipes.each do |recipe| %>
          <tr>
            <td><%= @recipe.recipe_name %></td>
            <td><%= @recipe.cuisine_id %></td>
            <td><%= @recipe.time_to_prepare %></td>
            <td><%= @recipe.time_to_cook %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- End simple table layout example -->
